.footer {
  &__container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4rem 0 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    //display: flex;
    border: 1px solid #D3D3D3;
  }

  &__text {
    float: right;
    display: inline;
  }
}

.red-dot {
  color: red;
  font-weight: bold;
  font-size: 30px;
}