.section-container {
   
  &__container {
    width: 100%;
    margin: auto;
    padding: 8rem;
    display: -ms-flexbox;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    max-width: 1600px;
    padding-top: 2rem;
  }

  &__artwork-one {
    background:url(../image/artwork-one.jpg) no-repeat center;//dummy fill in image unti have real one
    background-size: 400px;
    height: 500px;
    margin:  20px auto;
  }

  &__artwork-two {
    background:url(../image/artwork-two.jpg) no-repeat center;//dummy fill in image unti have real one
    background-size: 500px;
    height: 500px;
    margin: 20px auto;
  }

  &__artwork-three {
    background:url(../image/artwork-three.jpg) no-repeat center;//dummy fill in image unti have real one
    height: 500px;
    margin: 20px auto;
  }

  &__large-image {
    background:url(../image/artwork-three.jpg) no-repeat center;
    height: 500px;
    margin: auto;
  }

  &__first-animation-section {
      border-bottom: 1px solid grey;
      height: 680px;
      margin: 20px auto;
  }
  
  .content {

    &__row {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid #00FA9A;
        padding-bottom: 2rem;


      &:first-child {

        }
      }
    }

    &__first-animation-section {
        height: 150px;
        margin-bottom: 100px;
        background:url(../image/fill.jpg) no-repeat center;
        background-size: 900px 150px;
        margin: auto;
    }
}

canvas {
  padding: 0;
  margin: 0;
}

/*.carousel--image {
    height: 400px;
}*/

