.main-navigation {
  &__icon {
    float: right;
    cursor: pointer;
    position: absolute;
    z-index: 99999999;
  }

  &__logo {
    display: inline-block;
    vertical-align: bottom;
    max-width: 20vw;
    max-height: 15vh;
    height: auto;
  }

  &__list {
    margin-top: 280px;
    font-size: 30px;
    height: 5em;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;

    li {
      list-style-type: none;
      padding: 20px;
    }

    a {
      color: red;
    }
  }

  &__link {
    display: inline;
    float: right;
  }

  &__nav-box-right {
    right: 0px;
    background: rgba(0,0,0,0.8);
    position: fixed;
    width: 50%;
    color: white;
    height: 100%;
    top: 0px;
    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out;

    &.active {
       top: 100%;
    }
  }

  &__nav-box-list-left {
    position: fixed;
    width: 50%;
    height: 100%;
    left: 0px;
    top: 0px;
    color: red;
    background: #00FA9A;
    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out;

    &.active {
       top: -100%;
    }
  }

  &__left-right-icons {
    .icon--email, .icon--twitter, .icon--facebook {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  &__top {
     background-color: red;
     height: 50%;
  }

  &__text {
    font-size: 50px;
    color: white;
    margin-top: 230px;
    font-size: 22px;
    display: flex;
    align-items: center; 
    justify-content: center;
  }

  &__text-three {
    font-size: 50px;
    color: white;
    font-size: 20px;
    display: flex;
    margin-top: 45px;
    align-items: center; 
    justify-content: center;
  }
}
